rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /algolia_anime/{document=**} {
      allow read: if true;
    }
  }
}