html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ais-SearchBox,
.ais-SearchBox-form,
.ais-SearchBox-form input {
  @apply w-full;
}

/* Loading indicator */
.ais-SearchBox-loadingIndicator {
  @apply absolute top-[1.4rem] right-4;
}

.ais-SearchBox-input {
  @apply p-2 border-2 border-gray-300 border-b-2 rounded-xl text-xl;
}
.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none;
}

/* IMPORTANT: set flex-wrap */
.ais-Hits-list {
  @apply flex flex-wrap gap-6;
}
.ais-Pagination-list {
  @apply overflow-x-scroll my-4 flex gap-2 justify-center;
}

/* Highlighted text */
.ais-Highlight-highlighted {
  @apply font-bold not-italic;
}

/* Pagination */
.ais-Pagination-link {
  @apply p-3 inline-block rounded-xl bg-gray-200;
}
.ais-Pagination-link--selected {
  @apply bg-gray-700 text-white font-bold;
}
